@tailwind base;
@tailwind components;
@tailwind utilities;

.Bur {
    font-family: var(--font-Bruno_Ace_SC);
}
.g {
 font-family: var(--font-Sevillana);
}
.red {
    font-family: var(--font-Red_Hat_Display);
}