@tailwind base;
@tailwind components;
@tailwind utilities;

.IBM {
    font-family: var(--font-IBM_Plex_Sans_Arabic);
}
.g {
 font-family: var(--font-Gulzar);
}
.red {
    font-family: var(--font-Red_Hat_Display);
}